<%= devise_error_messages! %>

<div class="form-wrap">
  <h3>Login</h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),class: 'login-form' ) do |f| %>
    <div class="form-group">
      <%= f.label :email, class: "sr-only" %>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "sr-only" %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="checkbox">
      <% if devise_mapping.rememberable? -%>
        <div>
          <%= f.check_box :remember_me,class: "character-checkbox" %>
          <%= f.label :remember_me, label: "Remember me", class: "lable"%>
        </div>
      <% end -%>
    </div>

    <%= f.submit "Login",class: 'btn-primary btn-lg btn-block' %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot password", new_password_path(resource_name), class: 'forget' %>
    <% end -%>

  <% end %>
</div>
